@font-face {
    font-family: 'Circular';
    src: url('./assets/fonts/circular-medium.ttf');
}

* {
    cursor: none;
}

html,
body {
    font-family: 'Circular';
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    height: 100%;
}

.cursor {
    position: absolute;
    height: 40px;
    width: 40px;
    left: 0;
    top: 0;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 9999;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    transition-property: height, width;
    box-shadow: 0 0 2px 2px white;
}

.screen {
    width: 100vw;
    overflow-y: auto;
}

.switchRule {
    position: relative;
}

.switchRule > div {
    position: absolute;
}

.nav {
    padding: 40px 140px;
    font-size: 18px;
    display: flex;
    align-items: center;
    //opacity: 0;
    // animation: fadeIn 0.5s 5s ease-in-out forwards;

    .logo {
        margin-right: 20px;
    }

    .links {
        display: flex;
        a {
            text-decoration: none;
            color: white;
            font-size: 16px;
        }
    }
}

.content {
    margin: 0px 140px;
    /* background-color: #eee; */
    height: 100%;
}

footer {
    display: flex;
    align-items: center;
    height: 63px;
    width: 100%;
    background-color: white;
    font-size: 18px;
    padding: 0 40px;

    svg {
        margin-right: 10px;
        transition: all 0.2s ease-in-out;

        /* &:hover {
            fill: lighten($color: #000000, $amount: 35);
            transition: all 0.2s ease-in-out;
        } */
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*  Start Overlay Styles  */

.overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 999;
}

/*  End Overlay Styles  */

/*  Start Home Screen Styles  */

.home {
    width: 100%;
    height: calc(100vh - 143px);
    margin-top: -143px;
    display: flex;
    align-items: center;

    .left {
        width: 50vw;

        h1 {
            font-size: 48px;
            padding: 0;
            margin: 0;
        }

        h2 {
            font-weight: normal;
        }

        p {
            font-size: 22px;
            color: #888;
        }

        .buttons {
            span {
                font-size: 20px;
                margin-right: 10px;
                border-bottom: 2px solid;
                transition: all 0.1s ease-in-out;

                &:hover {
                    padding-bottom: 4px;
                    border-width: 4px;
                    transition: all 0.2s ease-in-out;
                }

                &:nth-child(1) {
                    color: #ffc135;
                    border-color: #ffc135;
                }
                &:nth-child(2) {
                    color: #42a5f5;
                    border-color: #42a5f5;
                }
                &:nth-child(3) {
                    color: #ff5252;
                    border-color: #ff5252;
                }
            }
        }
    }

    .right {
        width: 50vw;
    }
}

/*  End Home Screen Styles  */
